---
import FooterAzul from "../components/FooterAzul.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Protec Seguros">
  <Header data={null} type={Astro.url.pathname.split("/").pop()} />
  <section class="title-section">
    <h1 class="title">Contactanos</h1>
    <p class="descripcion">
      Estamos aquí para ayudarte o Si tienes alguna duda, estamos disponibles
    </p>
  </section>
  <section class="linea-atencion">
    <h1 class="title-sub">Línea de atención</h1>
    <div class="contact-number">
      <a href="https://wa.me/573002886932" target="_blank" class="whatsapp">
        <div class="content-number">
          <i class="fab fa-whatsapp whatsapp"></i>
          +57 3002886932
        </div>
      </a>
    </div>
  </section>
  <section class="email-contac">
    <div class="contact-number">
      <div class="content-number">lmrodriguez@protecsegurosltda.com.co</div>
      <div class="content-number">jerodriguez@protecsegurosltda.com.co</div>
      <div class="content-number">Ayrodriguez@protecsegurosltda.com.co</div>
    </div>
    <h1 class="title-sub">Atención por Correo Electrónico</h1>
  </section>
  <section id="redes-sociales" class="social-section">
    <h1 class="title-sub">Síguenos en Nuestras Redes Sociales</h1>
    <div class="social-icons">
      <a
        href="https://www.facebook.com/protecseguros.ltda.37"
        target="_blank"
        class="facebook"
      >
        <i class="fab fa-facebook-square"></i>
      </a>
      <a
        href="https://www.instagram.com/protecsegurosltda/"
        target="_blank"
        class="instagram"
      >
        <i class="fab fa-instagram"></i>
      </a>
      <a
        href="https://www.youtube.com/@protecseguros7005"
        target="_blank"
        class="youtube"
      >
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </section>
  <FooterAzul />
</Layout>

<style>
  .content-number:hover .whatsapp {
    color: white;
  }
  .content-number:hover {
    color: white;
    background-color: #1f54bc;
  }
  .title-sub {
    font-size: 50px;
    font-weight: 500;
  }
  .descripcion {
    font-size: large;
  }
  .title-section h1 {
    margin-top: 0%;
  }
  .email-contac h1 {
    width: 40%;
    color: white;
    text-align: center;
  }

  .email-contac {
    background-color: #008eff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
    padding: 7% 0%;
  }

  .contact-number {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 25px;
    width: 35%;
  }

  .content-number {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    width: 85%;
    color: #1f54bc;
    padding: 5%;
    border: 0.5rem solid #1f54bc;
    cursor: pointer;
    transition: 0.5s;
  }
  .linea-atencion h1 {
    width: 40%;
    text-align: center;
  }
  .linea-atencion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 7% 0%;
  }
  .title-section {
    background-color: #008eff;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7% 0%;
  }
  .cantactanos {
    background-color: #008eff;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  body {
    font-family: Arial, sans-serif;
  }

  .social-section {
    background-color: #fff;
    padding: 7% 0%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .social-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  /* Social Icons styles */
  .social-icons a {
    text-decoration: none;
    font-size: 70px;
    transition:
      transform 0.3s ease,
      color 0.3s ease;
  }

  /* Icon color and hover effect */
  .facebook {
    color: #4267b2;
  }

  .facebook:hover {
    color: #223e71;
    transform: scale(1.2);
  }

  .instagram {
    color: #e00f85;
  }

  .instagram:hover {
    color: #a82853;
    transform: scale(1.2);
  }

  .youtube {
    color: red;
  }

  .youtube:hover {
    color: #960202;
    transform: scale(1.2);
  }
  .whatsapp {
    text-decoration: none;
    margin-right: 2%;
  }

  @media (max-width: 768px) {
    .title {
      font-size: 35px;
    }
    .title-sub{
      font-size: 20px !important;
    }

    p {
      font-size: medium !important;
    }
    .linea-atencion {
      display: flex;
      flex-direction: column;
    }
    .email-contac {
      display: flex;
      flex-direction: column;
      flex-direction: column-reverse;
    }
    .contact-number {
      width: 60%;
    }
    .email-contac h1 {
      width: 70%;
    }
    .linea-atencion h1 {
      width: 70%;
      text-align: center;
    }
  }
  @media (max-width: 600px) {
    .title {
      font-size: 35px;
    }
    .title-sub {
      font-size: 35px;
    }
    .descripcion {
      text-align: center;
    }
    .contact-number {
      font-size: large;
    }
    .contact-number {
      width: 100%;
      font-size: medium;
    }
  }
</style>
