---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";


---

<Layout title="Protec Seguros">
  <main>
    <Header data="non"/>
    <div class="content-index">
      <div class="content-imagenUno">
        <img
          class="imagenUno"
          id="imagenUno-id"
          src="./public/familia2.png"
          alt=""
        />
      </div>
      <div class="content-imagenDos">
        <img
          class="imagenDos"
          id="imagenDos-id"
          src="./public/familia.png"
          alt=""
        />
      </div>
      <div class="color-content" id="color-content-id"></div>
      <div class="content-index-text">
        <h1 class="title">Te damos la bienvenida a Protec Seguros</h1>
        <div class="content-contact">
          <a class="buton-content" href="./inicio/personas">
            <button
              class="button-contact color-blue"
              onmouseover="outBodyBtn('personas')"
              onmouseout="outBodyBtn('salio')">Personas</button
            >
          </a>
          <a class="buton-content" href="./inicio/empresas">
            <button   
              class="button-contact color-white"
              onmouseover="outBodyBtn('empresas')"
              onmouseout="outBodyBtn('salio')">Empresas</button>
          </a>
        </div>
      </div>
    </div>

    <Footer />
   
  </main>
</Layout>
<script type="text/javascript">

  function outBodyBtn(element) {
    const contentColor = document.getElementById("color-content-id");
    const imagenUnoid = document.getElementById("imagenUno-id");
    const imagenDosid = document.getElementById("imagenDos-id");
    

    if (element == "empresas") {
      contentColor.classList.remove("content-color-100");
      imagenDosid.classList.add("animation-imagenDos");
      contentColor.classList.add("content-color-50");

    } else if (element == "personas") {
      contentColor.classList.remove("content-color-50");
      imagenUnoid.classList.add("animation-imagenUno");
      contentColor.classList.add("content-color-100");
    } else {
      // Remover animaciones
      imagenUnoid.classList.remove("animation-imagenUno");
      imagenDosid.classList.remove("animation-imagenDos");
      contentColor.classList.remove("content-color-50", "content-color-100");

    }
  }

</script>

<style>

  .buton-content{
    width: 100%;

  }

.color-content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 5%;
    display: flex;
    margin: 0%;
    transition:
      width 0.3s ease,
      margin 0.3s ease; /* Aquí defines la animación */
    /* margin: 0% 5%; */
  }

/* Clase para el contenedor de color */
.content-color-50 {
  width: 50% !important;
}

.content-color-100 {
  width: 50%;
  margin-left: 50%;
}

/* Clase para animación de la imagen uno */
.animation-imagenUno {
  transition: transform 0.5s ease; /* Duración de la animación */
  transform: scale(1.1); /* Efecto de transformación */
}

/* Clase para animación de la imagen dos */
.animation-imagenDos {
  transition: transform 0.5s ease; /* Duración de la animación */
  transform: scale(1.1); /* Efecto de transformación */
}



  .animation {
    transform: scale(1.1); /* Escala la imagen en un 10% */
    transition: transform 0.2s ease-in-out; /* Controla la velocidad y suavidad de la animación */
  }

  
  
  .color-blue {
    background-color: #172052;
    color: white;
    font-weight: 700;
  }
  .color-white {
    font-weight: 700;
    color: #172052;
  }
  .content-contact {
    display: flex;
    justify-content: center;
    width: 35%;
    gap: 100px;
  }
  .button-contact {
    font-size: larger;
    border: 0;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    /* padding: 0% 20%; */
    cursor: pointer;
  }
  .title {
    color: white;
    text-align: center;
    width: 40%;
  }
  .content-index-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    /* margin: 0% 5%; */
    align-items: center;
    justify-content: center;
  }
  .content-index-buttons {
    display: flex;
    gap: 100px;
  }
  .content-index {
    position: relative;
    display: flex;
    height: auto;
    gap: 20px;
    margin: 0% 2%;
  }
  .content-imagenUno {
    display: flex;
    justify-content: center;
    background-color: #5abeaa;
    width: 50%;
    border-radius: 7%;
    padding: 5% 0%;
  }
  .content-imagenDos {
    padding: 5% 0%;
    display: flex;
    justify-content: center;
    background-color: #172052;
    width: 50%;
    border-radius: 7%;
  }
  .imagenUno,
  .imagenDos {
    transition: transform 0.5s ease-in-out; /* Define la transición sin animación */
    width: 80%;
    height: 90%;
  }
  @media (max-width: 1024px) {
    .imagenUno,
    .imagenDos {
      width: 100%;
      height: 100%;
    }
  }
  @media (max-width: 768px) {
    .title{
      font-size: 35px;
      width: 60%;
    }
    .button-contact {
      padding: 0px 20px;
    }
  }
  @media (max-width: 425px) {
    .title{
      font-size: 35px;
      width: 100%;
    }
    .content-index{
      height: 700px;
    }
    .content-imagenUno{
      display: none;
    }
    .content-imagenDos{
      width: 100%;  
    }
    .content-imagenDos img{
      height: 100%;
    }
    .content-index-text{
      height: 100%
    }
    .content-contact{
      width: 60%;
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }
</style>
