---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';





---

<Layout title="Welcome to Astro.">
	<main>
		<Header/>
		<div class="nosotros">
			<span>hiii</span>
		</div>
		
	</main>
</Layout>

<style>
	body{
		margin: 0;
	}

	.nosotros{
		background-color: #172052;
		
		height: 750px;
	}
	
</style>
