---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Protec Seguros">
  <Header data={null} type={Astro.url.pathname.split("/").pop()} />
  <div class="nosotros-quienes-somos">
    <div class="content-quienes-somos">
      <h1 class="title">¿Quiénes somos?</h1>
      <p>
        Somos una agencia, encaminada a orientar profesionalmente en el sector
        asegurador a nuestros clientes ofreciendo soluciones que garanticen la
        protección de sus familias y patrimonio; brindando acompañamiento en
        la gestión de sus riesgos, tanto personales como empresariales; avaladas
        por la experiencia de mas de 35 años de su fundadora LUZ MARINA
        RODRIGUEZ A.
      </p>
      <h2>Más de 35 años de experiencia</h2>
    </div>
    <img src="https://protecsegurosltda.com/imagenes.pagina/logo.png" loading="lazy" alt="" />
  </div>
  <div class="nosotros-mision-vision">
    <div class="nosotros-content-card">
      <h1 class="title">Nuestra visión</h1>
      <p>
        Ser una de las mejores agencias colocadoras en el sector asegurador con
        procesos totalmente optimizados y certificados que den total certeza de
        obtener un asesoramiento asertivo al final de la gestion. Líderes en
        servicio honorabilidad y cumplimiento a ordenes de nuestros clientes
        observando siempre los principios y valores que soportan nuestra
        filosofia corporativa
      </p>
    </div>
    <div class="nosotros-content-card">
      <h1 class="title">Nuestra misión</h1>
      <p>
        Cumplir con las exigencias y expectativas de cada una de las entidades
        aseguradoras que han puesto en nuestras manos el asesoramiento y
        colocacion de las soluciones para brindar un soporte idoneo a cada uno
        de nuestros clientes
      </p>
    </div>
  </div>
  <div class="nosotros-logros">
    <h1 class="title">Nuestros Logros</h1>
    <div class="content-logros">
      <div class="content-unico-logro">
        <h2 class="title-logro">+35</h2>
        <h2 class="second-title-logro">Años de historia</h2>
        <p class="descripcion-logro">
          Atraves de los años se ha ido ofreciendo soluciones, garantizando la proteccion de sus familias y patrimonio
        </p>
      </div>
      <div class="content-unico-logro">
        <h2 class="title-logro">+1.000</h2>
        <h2 class="second-title-logro">Cliestes satisfechos</h2>
        <p class="descripcion-logro">
          Siempre atentos, encaminados en orientar profesionalmente en el sector asegurador a nuestros clientes brindandoles la mejor asesoria en el respaldo de sus riesgos
        </p>
      </div>
      <div class="content-unico-logro">
        <h2 class="title-logro">+50</h2>
        <h2 class="second-title-logro">soluciones para su tranquilidad</h2>
        <p class="descripcion-logro">
          acompañamos tu desicion por medio de soluciones y servicios que impulsen y acompañen tus metas, generando bienestar para que puedas enfocarte en seguir alimentando tu futuro
        </p>
      </div>
    </div>
  </div>
  <Footer />
</Layout>

<style>
  .second-title-logro {
    color: var(--second-color);
  }
  .content-unico-logro h2 {
    color: var(--second-color);
    margin: 0%;
    font-size: 30px;
  }
  .content-unico-logro {
    text-align: center;
    width: 25%;
  }
  .content-logros {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    gap: 30px;
    width: 100%;
  }
  .nosotros-logros h1 {
    margin-top: 0%;
  }
  .nosotros-logros {
    padding: 7% 0%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
  }
  .nosotros-quienes-somos img{
    width: auto;
    height: 600px;
  }
  .nosotros-quienes-somos {
    display: flex;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
  }
  .nosotros-content-card h1 {
    margin-top: 0%;
  }
  p {
    font-size: 20px;
  }
  .nosotros-content-card {
    padding: 5%;
    margin: 5% 5% 0% 5%;
    width: 50%;
    color: var(--primary-color);
    border-radius: 20px;
    border: 1rem solid var(--second-color);
  }
  .nosotros-mision-vision {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .content-quienes-somos {
    margin-top: 8%;
    margin-bottom: 8%;
    text-align: center;
    margin-left: 5%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content-quienes-somos h2 {
    color: var(--second-color);
  }
  .title {
    font-size: 60px;
  }

  @media (max-width: 425px) {
    .content-logros {
      display: flex;
      flex-direction: column !important;
      gap: 60px;
    }
    .content-unico-logro {
      width: 100%;
    }
    
  }
  @media (max-width: 768px) {
    .title {
      font-size: 35px;
    }
    .title-logro, .second-title-logro {
        font-size: 20px !important;
    }
    p{
        font-size: medium;
    }
    .content-quienes-somos {
      width: 70%;
    }
    .content-quienes-somos {
      margin: 5% 0%;
    }
    .nosotros-quienes-somos img{
    width: 100%;
    height: auto;
  }
    .nosotros-mision-vision,
    .nosotros-quienes-somos {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .nosotros-content-card {
      width: 70%;
    }
  }
</style>
