---
import Header from "../../components/Header.astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  // const servicios = await getCollection("services");
  const services = await getCollection("services");

  return services.map((service) => ({
    params: { id: service.slug.split('/').pop() },
    props: { service },
  }));
}
const { service } = Astro.props;


---


<Layout title={"titulo"}>
  <main>
    <Header />
    <!-- <div class="categoria">
        <h1 transition:name={titulo} class="title">{titulo}</h1>
    </div>
    <section class="section-services">
        <h3 class="descripcion-servicio">{descripcion}</h3>
    </section> -->
  </main>
</Layout>



<style>
    .descripcion-servicio{
        width: 50%;
        text-align: center;
    }
  
    .categoria{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #172052;
        color: white;
    }
    .section-services{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
    }
    
</style>