<footer>
  <section class="section-contact">
    <div class="contact">
      <h3>Habla con nosotros</h3>
      <p>Atencion al cliente</p>
      <p>Lunes a Viernes - 8am a 6pm</p>
      <div class="type-contact">
        <div class="numbers">
          <span class="material-symbols-outlined custom-icon"> call </span>
          <ul>
            <li>+57 3002886932</li>
          </ul>
        </div>
        <div class="mails">
          <span class="material-symbols-outlined custom-icon"> mail </span>
          <ul>
            <li>lmrodriguez@protecsegurosltda.com.co</li>
            <li>jerodriguez@protecsegurosltda.com.co</li>
          </ul>
        </div>
        <a
          href="https://wa.me/573002886932"
          target="_blank"
          class="whatsapp-button"
        >
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
            alt="WhatsApp"
            loading="lazy"
            class="whatsapp-icon"
          />
          <span class="whatsapp-number">+57 3002886932</span>
        </a>
      </div>
    </div>
  </section>
</footer>

<style>
  footer {
    background-color: white;
  }
  h3 {
    color: var(--primary-color);
  }
  .type-contact li::marker {
    color: var(--second-color); /* Cambia el color de los puntos */
  }

  .custom-icon {
    color: var(--second-color);
    font-size: 24px;
  }
  .whatsapp-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #25d366; /* Color del borde de WhatsApp */
    border-radius: 30px; /* Borde redondeado */
    text-decoration: none;
    color: #25d366; /* Color del texto de WhatsApp */
    font-size: 16px;
    height: min-content;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .whatsapp-button:hover {
    background-color: #25d366; /* Fondo verde en hover */
    color: white; /* Cambia el color del texto a blanco en hover */
  }

  .whatsapp-button:hover .whatsapp-icon {
    filter: brightness(0) invert(1); /* Cambia el color del ícono a blanco en hover */
  }

  .whatsapp-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    transition: filter 0.3s ease;
  }

  .whatsapp-number {
    font-family: Arial, sans-serif;
  }

  .type-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .mails {
    display: flex;
    align-items: center;
  }

  .numbers {
    display: flex;
    align-items: center;
  }

  .section-contact {
    display: flex;
    padding: 5%;
  }
  .contact {
    display: flex;
    flex-direction: column;
  }
  .contact p {
    margin: 0%;
  }

  @media (max-width: 1000px) {
    .type-contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
    .type-contact {
      font-size: 12px;
    }
    .mails {
      width: 100%;
    }
    .numbers {
      width: 100%;
    }
  }
</style>
