---
import NavMobile from "./NavMobile.astro";

const { data } = Astro.props;
---

<header>
  <section class="section-header">
    <a href="/">
      <img src="../public/logo.png" class="logo" alt="logo" width="230px" />
    </a>
    <div class="bar-navegation-descktop">
      <nav class="bar-navegation">
        <ul class="list-nav-style">
          <li class="list-nav-content-style">
            <a class="list-nav-select" href="/inicio/personas">Inicio</a>
          </li>
          <li class="list-nav-content-style titulo-servicios">
            <a>Servicios</a>
            <!-- Modal servicios -->
            <div class="modal" id="Services-modal-id">
              <div class="list-service">
                {
                  data?.servicios.map((element: any, index: number) => (
                    <ul
                      class={`list-service-content ${index === data.servicios.length - 1 ? "" : "list-service-content-line"}`}
                    >
                      <li class="content-servis">
                        <h1 class="title-services">{element.nombre}</h1>
                        {element.subcategoria.map((categoria: string) => (
                          <ul class="services-list">
                            <li class="categoria-services">
                              <a href="">{categoria}</a>
                            </li>
                          </ul>
                        ))}
                      </li>
                    </ul>
                  ))
                }
              </div>
            </div>
          </li>

          <li class="list-nav-content-style titulo-pagos">
            <a class="">Paga tu póliza</a>
            <!-- Modal servicios -->
            <div class="modal-payment" id="Pagos-modal-id">
              <h2 class="title-services">Botones de pago</h2>
              <ul class="list-payment">
                <li class="buton-sura">
                  <a
                    href="https://www.segurossura.com.co/paginas/pago-express.aspx#/Pagos"
                    >Sura</a
                  >
                </li>
                <li class="buton-mapre">
                  <a
                    href="https://cotiza.mapfre.com.co/pagosWeb/vista/paginas/noFilterIniPagosPublico.jsf"
                    >Mapfre</a
                  >
                </li>
                <li class="buton-axa">
                  <a>AXA Colpatria</a>
                </li>
                <li class="buton-exquial">
                  <a>Mapfre Exquial</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <NavMobile />
    <div class="content-contact">
      <button class="button-contact">¡Contáctanos!</button>
    </div>
  </section>
</header>

<style>
  .categoria-services:hover a{
    color: #5abeaa;
  }
  .list-service-content-line {
    border-right: solid #172052;
  }
  .title-services {
    color: #172052;
  }
  .content-servis {
    display: flex;
    flex-direction: column;
  }

  .services-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0; /* Asegúrate de que no haya padding en la lista */
  }

  .services-list li {
    list-style: none; /* Eliminar puntos predeterminados */
    position: relative; /* Permitir posicionamiento relativo */
    padding-left: 25px; /* Espacio a la izquierda para el ícono */
    background-image: url("../../public/logosintexto.png");
    background-size: 30px 25px;
    background-repeat: no-repeat; /* No repetir la imagen */
    background-position: left center; /* Posicionar la imagen a la izquierda y centrada verticalmente */
  }

  .titulo-servicios:hover .modal {
    visibility: visible;
    opacity: 1; /* Hacerlo visible */
    transform: translateY(0); /* Restablecer la posición */
  }

  .modal:hover {
    display: block;
  }

  .titulo-servicios:not(:hover) .modal,
  .titulo-pagos:not(:hover) .modal-payment {
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease,
      transform 0.3s ease;

    opacity: 0; /* Hacerlo invisible */
    visibility: hidden; /* Ocultar el modal */
    transform: translateY(-10px); /* Mover hacia arriba */
  }

  .titulo-pagos:hover .modal-payment {
    display: block;
  }

  .modal-payment:hover {
    display: block;
  }

  header {
    position: sticky;
    background-color: white;
    top: 0px;
    z-index: 50;
    border-bottom: #172052;
  }

  .content-contact {
    display: block;
  }

  .bar-navegation {
    height: 100%;
  }

  .bar-navegation-descktop {
    grid-column: 3 / 8;
    height: 100%;
  }

  .list-service {
    margin: 2% 5% 5% 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .title-services {
    color: #172052;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    margin-bottom: 10px;
  }

  .list-nav-content-style {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .section-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }

  .list-nav-style {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .list-nav-style a {
    font-size: larger;
    text-decoration: none;
    margin: 0 10px;
    color: #172052;
    cursor: pointer;
  }

  .list-nav-select {
    margin: 0 10px;
    font-weight: 700;
    text-decoration-line: underline !important;
  }

  .content-contact {
    grid-column: 10 / 12;
  }

  .button-contact {
    font-size: larger;
    color: white;
    border: 0;
    background-color: #5abeaa;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
  }

  .modal-payment {
    top: 100%;
    left: 50%;
    border-radius: 15px;
    border: 1px solid rgba(23, 32, 82, 0.25);
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 300px;
    display: none;
    position: absolute;
    padding: 20px 20px;
  }

  .modal {
    position: absolute;
    top: 100%;
    left: 0%;
    border-radius: 0px 0px 5px 5px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    opacity: 0; /* Comienza completamente transparente */
    visibility: hidden; /* Comienza como oculto */
    transition:
      opacity 0.3s ease,
      transform 0.3s ease; /* Transiciones para suavizar la entrada y salida */
    transform: translateY(-10px); /* Desplazamiento inicial hacia arriba */
  }

  @media (max-width: 768px) {
    .logo {
      width: 150px;
    }
    header {
      position: static;
    }
    .bar-navegation-descktop {
      display: none;
      height: 100%;
    }
    .content-contact {
      display: none;
    }
  }
</style>
