---
import NavMobile from "./NavMobile.astro";

const { data, type } = Astro.props;
---

<header>
  <section class="section-header">
    <a href="/">
      <img src="../public/logo.png" class="logo" alt="logo" width="230px" />
    </a>
    {
      data && (
        <div class="bar-navegation-descktop">
          <nav class="bar-navegation">
            <ul class="list-nav-style">
              <li class="list-nav-content-style">
                <a class="list-nav-select" href="/inicio/personas">
                  Inicio
                </a>
              </li>
              {data.servicios && (
                <li class="list-nav-content-style titulo-servicios">
                  <a>Servicios</a>
                  <div class="modal" id="Services-modal-id">
                    <div class="list-service">
                      {data?.servicios.map((element: any, index: number) => (
                        <ul
                          class={`list-service-content ${index === data.servicios.length - 1 ? "" : "list-service-content-line"}`}
                        >
                          <li class="content-servis">
                            <h1 class="title-services">{element.nombre}</h1>
                            {element.subcategoria.map((categoria: any) => (
                              <ul class="services-list">
                                <li class="categoria-services">
                                  <a href={`/servicio/${categoria.referencia}`}>
                                    {categoria.nombre}
                                  </a>
                                </li>
                              </ul>
                            ))}
                          </li>
                        </ul>
                      ))}
                    </div>
                  </div>
                </li>
              )}

              <li class="list-nav-content-style titulo-pagos">
                <a class="">Paga tu póliza</a>
                <div class="modal-payment" id="Pagos-modal-id">
                  <h2 class="title-pagos">Botones de pago</h2>
                  <ul class="list-payment">
                    <li class="buton-sura">
                      <a href="https://www.segurossura.com.co/paginas/pago-express.aspx#/Pagos">
                        Sura
                      </a>
                    </li>
                    <li class="buton-mapre">
                      <a href="https://cotiza.mapfre.com.co/pagosWeb/vista/paginas/noFilterIniPagosPublico.jsf">
                        Mapfre
                      </a>
                    </li>
                    <li class="buton-axa">
                      <a>AXA Colpatria</a>
                    </li>
                    <li class="buton-exquial">
                      <a>Mapfre Exquial</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      )
    }

    <NavMobile data={data?.servicios} />
    <a href="/contactanos" class="content-contact">
      <button class="button-contact">¡Contáctanos!</button>
    </a>
  </section>
</header>
{
  type && (
    <div class="content-butons-selection-section">
      <a class="buton-content" href="/inicio/personas">
        <button
          class={`${
            Astro.url.pathname.split("/").pop() === "personas" ||
            type == "personas"
              ? "butons-selection-section"
              : "butons-selection-section-empresas"
          }`}
        >
          <p class="text-butons-selection-section">Personas</p>
        </button>
      </a>
      <a class="buton-content" href="/inicio/empresas">
        <button
          class={`${
            Astro.url.pathname.split("/").pop() === "empresas" ||
            type == "empresas"
              ? "butons-selection-section"
              : "butons-selection-section-empresas"
          }`}
        >
          <p class="text-butons-selection-section-empresas">Empresas</p>
        </button>
      </a>
    </div>
  )
}

<style>
  header {
    position: fixed;
  }
  .list-service ul {
    padding: 0%;
  }
  .text-butons-selection-section-empresas,
  .text-butons-selection-section {
    width: 150px;
  }

  .butons-selection-section-empresas {
    font-size: larger;
    color: #5abeaa;
    background-color: #172052;
    border-color: #5abeaa;
    border-width: 2px;
    border-style: solid;
    border-top-color: #172052;
    width: 100%;
    height: 40px;
    border-radius: 0px 0px 20px 20px;
    cursor: pointer;
  }
  .content-butons-selection-section {
    display: flex;
    gap: 30px;
    position: fixed;
    left: 5%;
    z-index: 5;
  }

  .butons-selection-section {
    font-size: larger;
    color: white;
    border: 0;
    background-color: #5abeaa;
    width: 100%;
    height: 40px;
    border-radius: 0px 0px 20px 20px;
    cursor: pointer;
  }

  .categoria-services:hover a {
    color: #5abeaa;
  }
  .list-service-content {
    margin: 0% 5%;
  }
  .list-service-content-line {
    border-right: 1.5px solid #172052;
  }
  .title-services {
    color: #172052;
  }
  .content-servis {
    display: flex;
    flex-direction: column;
  }

  ul.list-service {
    list-style-type: none; /* Elimina los puntos */
    padding-left: 0; /* Elimina el padding izquierdo predeterminado */
    margin-left: 0; /* Opcional, para eliminar márgenes */
  }

  .services-list li {
    list-style: none; /* Eliminar puntos predeterminados */
    position: relative; /* Permitir posicionamiento relativo */
    padding-left: 25px; /* Espacio a la izquierda para el ícono */
    background-image: url("../../public/logosintexto.png");
    background-size: 30px 25px;
    background-repeat: no-repeat; /* No repetir la imagen */
    background-position: left center; /* Posicionar la imagen a la izquierda y centrada verticalmente */
  }

  .titulo-servicios:hover .modal {
    visibility: visible;
    opacity: 1; /* Hacerlo visible */
    transform: translateY(0); /* Restablecer la posición */
  }
  .titulo-pagos:hover .modal-payment {
    visibility: visible;
    opacity: 1; /* Hacerlo visible */
    transform: translateY(0); /* Restablecer la posición */
  }

  .titulo-servicios:not(:hover) .modal,
  .titulo-pagos:not(:hover) .modal-payment {
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease,
      transform 0.3s ease;

    opacity: 0; /* Hacerlo invisible */
    visibility: hidden; /* Ocultar el modal */
    transform: translateY(-10px); /* Mover hacia arriba */
  }

  .titulo-pagos:hover .modal-payment {
    display: block;
  }

  .modal-payment:hover {
    display: block;
  }

  header {
    position: sticky;
    background-color: white;
    top: 0px;
    z-index: 50;
    border-bottom: #172052;
  }

  .content-contact {
    display: block;
  }

  .bar-navegation {
    height: 100%;
  }

  .bar-navegation-descktop {
    grid-column: 3 / 8;
    height: 100%;
  }

  .list-service {
    margin: 2% 5% 5% 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .title-services {
    color: #172052;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    margin-bottom: 10px;
  }

  .list-nav-content-style {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .section-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }

  .list-nav-style {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0%;
  }

  .list-nav-style a {
    font-size: larger;
    text-decoration: none;
    margin: 0 10px;
    color: #172052;
    cursor: pointer;
  }

  .list-nav-select {
    margin: 0 10px;
    font-weight: 700;
    text-decoration-line: underline !important;
  }

  .content-contact {
    grid-column: 10 / 12;
  }

  .button-contact {
    font-size: larger;
    color: white;
    border: 0;
    background-color: #5abeaa;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
  }

  .modal-payment ul {
    list-style-type: disc;
  }
  .modal-payment {
    position: absolute;
    top: 100%;
    left: 42%;
    border-radius: 0px 0px 5px 5px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 20%;
    opacity: 0; /* Comienza completamente transparente */
    visibility: hidden; /* Comienza como oculto */
    transition:
      opacity 0.3s ease,
      transform 0.3s ease; /* Transiciones para suavizar la entrada y salida */
    transform: translateY(-10px); /* Desplazamiento inicial hacia arriba */
    padding: 0% 2% 2% 2%;
    z-index: 200;
  }

  .modal {
    position: absolute;
    top: 100%;
    left: 0%;
    border-radius: 0px 0px 5px 5px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    opacity: 0; /* Comienza completamente transparente */
    visibility: hidden; /* Comienza como oculto */
    transition:
      opacity 0.3s ease,
      transform 0.3s ease; /* Transiciones para suavizar la entrada y salida */
    transform: translateY(-10px); /* Desplazamiento inicial hacia arriba */
    z-index: 200;
  }

  .buton-sura::marker {
    color: #001aff; /* Cambia el color de los puntos */
  }
  .buton-mapre::marker {
    color: #ff0000; /* Cambia el color de los puntos */
  }
  .buton-axa::marker {
    color: #d4ff00; /* Cambia el color de los puntos */
  }
  .buton-exquial::marker {
    color: #ff00e6; /* Cambia el color de los puntos */
  }

  @media (max-width: 1024px) {
    .list-service {
      margin: 2% 0% 5% 0%;
    }
    .modal-payment {
      width: 40%;
      left: 50%;
    }
  }

  @media (max-width: 768px) {
    .content-butons-selection-section {
      display: none;
    }
    .logo {
      width: 150px;
    }
    header {
      position: static;
    }
    .bar-navegation-descktop {
      display: none;
      height: 100%;
    }
    .content-contact {
      display: none;
    }
  }
</style>
